<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SleepBee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3C776571DE0F97600796B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C7766D1DE0F97700796B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C776781DE0F97700796B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
